/* global styles */
body {
	background: #F0F3F7;
}

p {
	font-size: 1.2em;
	line-height: 1.8em;
	color: #65707a;
}

a:link, a:visited {
	transition: 0.3s;
    color: #36a6dd;
}

a:hover, a:focus {
	transition: 0.3s;
	color: #db0a6d;
}

img {
	max-width: 100%;
}

.strike-th {
	text-decoration: line-through;
}

.form-control {
	background: none;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #db0a6d;
	border-radius: 0;
}

.form-control:focus {
	border: none;
	box-shadow: none;
	border-bottom: 3px solid #db0a6d;
	background: #E4EBF5;
}

.btn-custom {
	transition: 0.3s;
	color: #fff;
	background: #1f2631 url(../images/polygon-bg.jpg) no-repeat top center;
}

.btn-custom:hover, .btn-custom:focus {
	transition: 0.3s;
	color: #fff;
	background: #1f2631 url(../images/polygon-bg.jpg) no-repeat 5px center;
}


/* Navbar Styles */
.navbar {
	margin: 0;
	border: none;
	background: rgba(255,255,255,0.95);
}

	.navbar-inverse .navbar-brand {
		color: #acb4bf;
	}

	.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
		color: #db0a6d;
	}

	.navbar-inverse .navbar-toggle {
    	border: none;
	}

		.navbar-inverse .navbar-toggle .icon-bar {
			background: #acb4bf;
		}

	.navbar-inverse .navbar-collapse {
		border: none;
	}


	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    	background: none;
	}


	.navbar-collapse {
		box-shadow: none;
	}

		.navbar-right {
			text-align: right;
		}

			.navbar-inverse .navbar-nav > li > a , .navbar-inverse .navbar-nav > li > a:visited {
				color: #acb4bf;
			}

			.navbar-inverse .navbar-nav > li > a:hover , .navbar-inverse .navbar-nav > li > a:focus {
				color: #db0a6d;
				text-decoration: line-through;
			}


/* Jumbotron Styles */
.jumbotron {
	padding: 5em 0 2em 0;
	color: #1f2631;
	/* text-align: center;
	background: #1f2631 url(../images/hero.jpg) no-repeat top center; 
	background-size: cover; 
	border-bottom: 1px solid #db0a6d; */
	background: #fff;
}

	.jumbotron h1 {
		overflow: hidden;
		padding: 0;
		/* font-size: 5.8em;
		font-family: 'Permanent Marker', cursive; */
		font-family: arial;
		font-size: 20em;
		font-weight: bold;
		white-space: nowrap;
		background: #1f2631 url(../images/polygon-bg.jpg) no-repeat top center;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text; 
	}

	.jumbotron p {
		font-size: 1em;
	}

	.im-rob {
		margin-top: -2em;
		padding: 0 0 3em 0;
		text-align: center;
	}


/* Section Heading Styles */           
.section-heading {padding: 1em 0 7em 0;}
            
    .section-heading h2 {margin: 0 0 1em 0; padding: 0; color: #5e7184; font-size: 2em; font-weight: bold; /* border-bottom: dotted 1px #d0d6df; */}
    
    .section-heading p {padding: 0 0 0 1em; margin: 0; color: #1f2631; font-size: 2em; font-style: italic; border-left: 3px solid #db0a6d;}

.contact-sh {
	padding-bottom: 3em; /* this is only for the contact page. Otherwise the form would push too far below. */
}


/* Gallery Styles */ 
.gallery ul {margin: 0; padding: 0;}

    .gallery ul li {display: block; position: relative; overflow: hidden; margin-bottom: 1em; list-style-type: none; color: #47475c; background: none;}
    
    
        /* Sets the blue background on gallery items to not show until hover listed below */
        .gallery-header {width: 100%; height: 100%; position: absolute; padding: 2% 5%; color: #fff; opacity: 0; -webkit-transition: 0.35s;}
        
            .banner-ul a:hover .gallery-header, .banner-ul a:focus .gallery-header, .gallery-ul a:hover .gallery-header, .gallery-ul a:focus .gallery-header, .gallery-md-ul a:hover .gallery-header, .gallery-md-ul a:focus .gallery-header {background: rgba(219, 10, 109, 0.85); opacity: 1; -webkit-transition: 0.35s; clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);}
            
            .banner-ul a:hover .gallery-header h1, .banner-ul a:hover .gallery-header p, .gallery-ul a:hover .gallery-header h1, .gallery-ul a:hover .gallery-header p, .gallery-md-ul a:hover .gallery-header h1, .gallery-md-ul a:hover .gallery-header p {margin-left: 0px; -webkit-transition: 0.35s;}
    
                .gallery-header h1 {margin: 0 0 0 -30px; font-size: 5em; font-weight: bold; -webkit-transition: 0.35s;}
            
                .gallery-header p {font-size: 1em; margin: 2% 0 2% -70px; font-style: italic; -webkit-transition: 0.35s;}
            
            .banner-ul img {margin: 0;} /* Takes away default 1em top and bottom margin on the gallery images */


/* about */
.percent-circle {
	margin: -1.5em auto 1em auto;
    border-radius: 50%;

    width: 200px;
    height: 200px;
    padding: 43px 10px 25px 10px;

    border: 17px solid #db0a6d;
    color: #1f2631;
    text-align: center;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
}

.about-hobbies {
	padding: 3em 0 7em 0;
}

	.about-hobbies p {
		padding: 2em 0;
		text-align: center;
		font-style: italic;
	}


footer {
	margin-top: 10em;
	color: #acb4bf;
	background: #1f2631;
}

	footer a h3, footer a:visited h3 {
		transition: 0.3s;
		padding: 2em 0;
		text-align: center;
		background: url(../images/polygon-bg.jpg) no-repeat top center;
	}

	footer a:hover h3, footer a:hover h3 {
		transition: 0.3s;
		color: #acb4bf;
		background: url(../images/polygon-bg.jpg) no-repeat bottom center;
	}

	a.back-to-top:hover, a.back-to-top:focus {
		text-decoration: none;
	}

		.social-networks-ul a, .social-networks-ul a:visited {
			color: #acb4bf;
		}

		.social-networks-ul a:hover, .social-networks-ul a:focus {
			color: #db0a6d;
		}

	.social-networks-ul {
		margin: 2em 0;
	}

		.social-networks-ul li {
			padding-bottom: 1em;
		}



/* iPhones (landscape) ----------- */
@media only screen and (min-width: 560px) {    
    
    /* Gallery Styles */ 
    .gallery ul li {float: left; width: 48%; margin: 1%;}
    
    
    /* Article Heading Styles */
    /* Design & Development */
    .article-header-img-contaianer-dd {}
    
    .article-header-description-dd {}
    
        .article-description-ul-dd {}
        
    .article-content-container {}
    
    .article-design-and-development-content {clear: left; width: 67%; margin: 0 0 0 5%; padding: 2em 0;}
    
    .logo-display {}
    
    .rwd-displays {max-width: 90%; margin: 2em 0 2em 5%;}
    
}


/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
   
/* Design & Development */    
   
    .article-header-img-contaianer-dd {height: 235px;}
    
    .article-content {width: 70%; padding: 0 15%;}

}



/* iPads (portrait) ----------- */
@media only screen and (min-width: 900px) {
    
    /* ==================== Section Heading Styles ==================== */           
    .section-heading {padding: 7em 0 12em 0;}

    .contact-sh {
	padding-bottom: 3em; /* this is only for the contact page. Otherwise the form would push too far below. */
}
    
}



/* 992px ----------- */
@media only screen and (min-width: 992px) {
    
    /* footer */
    footer .row {
    	margin: 2em 0 1em 0;
    }

    .social-networks-ul {margin: 0; text-align: right;}
    
}



/* iPads (landscape) ----------- */
@media only screen and (min-width : 1024px) {     
    
    /* Article Heading Styles */
    /* Design & Development */
    .article-dd h2, .article-dd h4, .article-dd p, .footer-main p {margin-right: 10%; margin-left: 10%;}
    
    .iphone-display img {float: left; width: 33%;}
    
}



/* Large Displays ----------- */
@media only screen and (min-width : 1400px) {
        
    
    /* Article Heading Styles */
    /* Design & Development */
    .article-dd h2, .article-dd h4, .article-dd p, .footer-main p {margin-right: 20%; margin-left: 20%;}
    
}



/* Large Displays ----------- */
@media only screen and (min-width : 1700px) {
    
}



/* Large Displays ----------- */
@media only screen and (min-width : 1920px) {
    
    
    /* Article Heading Styles */
    /* Design & Development */
    .article-dd h2, .article-dd h4, .article-dd p, .footer-main p {margin-right: 25%; margin-left: 25%;}

}
